<div style="display: flex; justify-content: center; margin: 20px;">
  <mat-form-field appearance="outline" style="width: 350px;">
    <mat-label>Pesquisar usuário</mat-label>
    <input type="text"
           matInput
           [formControl]="filtroNome"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of nomesFiltrados | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px; margin-bottom: 10px;">
  <button mat-icon-button class="btn-limpar" matTooltip="Limpar filtro">
    <mat-icon fontSet="material-icons">backspace</mat-icon>
  </button>
  <button mat-icon-button class="btn-excel" matTooltip="Exportar para Excel">
    <mat-icon fontSet="material-icons">import_export</mat-icon>
  </button>
  <button mat-icon-button class="btn-adicionar" matTooltip="Adicionar Usuário" (click)="addUsuario()">
    <mat-icon fontSet="material-icons">add</mat-icon>
  </button>
</div>

<mat-table [dataSource]="dataSource">

  <!-- Nome -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.nome }} </mat-cell>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
  </ng-container>

<!-- Status (Ativo/Desativado) -->
<ng-container matColumnDef="status">
  <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
  <mat-cell *matCellDef="let element">
    <mat-slide-toggle
  [checked]="element.active == 1"
  (change)="toggleStatus(element)">
  {{ element.active == 1 ? 'Ativo' : 'Inativo' }}
</mat-slide-toggle>
  </mat-cell>
</ng-container>

  <!-- Ações -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="abrirModalEdicao(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="abrirModalExclusao(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->